:root {
  --width-left-window: 150px;
  --gr: rgba(0,233,42,0.7);
  --grd: rgba(0,233,42,0.4);
  --gr2: #20541C;
  --rd: #CA0707;
  --rd2: #860909;
  --dfiol: #6F2692;
  --fiol: #FF1ABB;
  --lblue: #C8A2EB;
  --bpad: 5%;
}

@font-face {
	font-family: 'Never';
	src: url(/static/font/CatV.ttf);
}

body {
    font-family: 'Never';
    background:
    linear-gradient(
    #525252, transparent 1px
    ),
    linear-gradient(
    90deg,
    #525252, transparent 1px
    );
    background-size: 20px 20px;
    background-color: #000000;
}

.block{
    overflow: hidden;
}

.block-values{
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
    width: 320px;
}

pp{
    font-size: 30px;
}

.block-title{
    border-bottom: 3px solid rgb(0,233,42);
    border-top: 3px solid rgb(0,233,42);
    background: var(--grd);
    text-align: center;
    color: rgb(87,10,83);
}

h3{
    color: white;
}

.container-row {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    margin: 10px var(--bpad);
    border-radius: 20px;
    border: 3px solid rgba(0,233,42,20);
    overflow: hidden;
    max-width: 100%;
    height: calc(100vh - 70px);
}

.container-column {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
}

.p-sett{
    background-color: black;
    display: flex;
    flex-direction: row;
    margin: 10px
}

.p2-sett{
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    width: 250px;
}

.button-yes{
    width: 40px;
    height: 40px;
    color: black;
    background-color: var(--gr);
    padding: 5px;
}

.button{
    width: 50px;
    height: 50px;
    color: black;
    font-size: 35px;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--gr2);
    border-right: 2px solid var(--gr);
    border-top: 2px solid var(--gr);
    border-bottom: 2px solid var(--gr);
}

.button:hover{
    background-color: var(--grd);
    color: white;
}

.button:active{
    background-color: var(--grd);
    color: white;
}

.link{
    width: auto;
    height: 50px;
    color: black;
    font-size: 35px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.link:hover{
    border-bottom: 5px solid white;
    color: white;
}

.link:active{
    border-bottom: 5px solid white;
    color: white;
}

.text-panel-1{
    width: calc(100% - 40px);
    padding-left: 5px;
}

.text-panel-2{
    width: calc(100% - 80px);
    padding-left: 5px;
}

.button-no{
    width: 40px;
    height: 40px;
    color: black;
    background-color: red;
    padding: 4px 8px;
}

.button-no:hover{
    background-color: var(--rd2);
    color: white;
}

.button-no:active{
    background-color: var(--rd2);
    color: white;
}

a{
    text-decoration: none;
	color: white;
}

.button-yes:hover{
    background-color: var(--gr2);
    color: white;
}

.button-yes:active{
    background-color: var(--gr2);
    color: white;
}

.window-left {
    background-color: rgba(31,210,219,0.5);
    width: var(--width-left-window);
    overflow: auto;
    height: 100%;
}

.window {
    background-color: rgba(0,122,12,0.1);
    border-left: 3px solid rgb(0,233,42);
    width: 100%;
    height: 100%;
    overflow: auto;
    left: var(--bpad);
}

.window::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}
.window::-webkit-scrollbar-track {
  background: black;        /* цвет дорожки */
}
.window::-webkit-scrollbar-thumb {
  background-color: var(--grd);
}

.up-panel {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
    background-color: var(--gr);
    color: black;
    width: calc(100%);
    height: calc(50px);

}
