:root {
  --width-left-window: 200px;
  --gr: rgba(0,233,42,0.7);
  --gr2: #20541C;
  --rd: #CA0707;
  --rd2: #860909;
  --dfiol: #6F2692;
  --fiol: #FF1ABB;
  --lblue: #C8A2EB;
  --bpad: 100px;
}

@font-face {
	font-family: 'Never';
	src: url(/static/font/CatV.ttf);
}

body {
    font-family: 'Never';
    background:
    linear-gradient(
    #525252, transparent 1px
    ),
    linear-gradient(
    90deg,
    #525252, transparent 1px
    );
    background-size: 20px 20px;
    background-color: #000000;
}

.block{
    margin: 20px 20px;
    border-radius: 10px;
    background-color: #333333;
    overflow: hidden;
}

pp{
    font-size: 30px;
}

.block-title{
    background-color: #AB274F;
    color: #4D0018;
    padding-left: 10px;
}

h3{
    color: white;
}

.container-row {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    margin: 70px var(--bpad);
    border-radius: 20px;
    border: 3px solid rgba(0,233,42,20);
    overflow: hidden;
    max-width: 100%;
    height: calc(100vh - 140px);
}

.container-column {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
}

.p-sett{
    background-color: black;
    display: flex;
    flex-direction: row;
    margin: 10px
}

.button-yes{
    width: 40px;
    height: 40px;
    color: black;
    background-color: var(--gr);
    padding: 5px;
}

.text-panel{
    width: calc(100% - 80px);
    padding-left: 5px;
}

.button-no{
    width: 40px;
    height: 40px;
    color: black;
    background-color: var(--rd);
    padding: 4px 8px;
}

.button-no:hover{
    background-color: var(--rd2);
}

.button-no:active{
    background-color: var(--rd2);
}

.button-yes:hover{
    background-color: var(--gr2);
}

.button-yes:active{
    background-color: var(--gr2);
}

.window-left {
    background-color: rgba(31,210,219,0.5);
    width: var(--width-left-window);
    overflow: auto;
    height: 100%;
}

.window-left::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}
.window-left::-webkit-scrollbar-track {
  background: var(--gr);        /* цвет дорожки */
}
.window-left::-webkit-scrollbar-thumb {
  background-color: #14D100;
}

.window-right {
    background-color: rgba(0,122,12,0.2);
    border-left: 3px solid rgba(0,233,42,20);
    width: calc(100% - var(--width-left-window));
    height: height: 100%;
    left: calc(var(--width-left-window) + var(--bpad));
}

.window-right::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}
.window-right::-webkit-scrollbar-track {
  background: var(--gr);        /* цвет дорожки */
}
.window-right::-webkit-scrollbar-thumb {
  background-color: #14D100;
}

.up-panel {
    padding-left: 10px;
    background-color: var(--gr);
    color: black;
    width: calc(100%);
    height: calc(50px);
    position: fixed;

}

.down-panel {
    background-color: var(--gr);
    width: calc(100%);
    height: calc(50px);
    color: black;
    position: fixed;
    bottom: 0px;
}
