<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap стили -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- иконки fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- кастомные стили -->
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/font/CatV.ttf">

    <!--<meta http-equiv="refresh" content="5" />-->
  </head>
  <body>
    <!--<img src="{{ url_for('video_feed') }}" />-->
    <div class="container-column">
      <div class="up-panel">
        <div style="width: 60px">
          <h1 style="font-size: 40px">[*]</h1>
        </div>
        <a href=/ class="link">System</a>
        <a href=/code class="link">Files</a>
      </div>
      <div class="container-row">
        <div class="window">
          <!--<img style="padding-left: 50px; padding-right: 50px; width: 100%" src="{{ url_for('video_feed') }}" />-->
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type=text/javascript>
        const style_yes = document.getElementById("display1-yes").style;
        const style_no = document.getElementById("display1-no").style;
        const style_def = "width: 40px; height: 40px; color: #444444; background-color: black; padding: 4px 8px;";
        $(document).ready(function() {
          setInterval(function() {
              $.ajax({
                  url: '/update_data',
                  type: 'GET',
                  success: function(response) {
                      document.getElementById('info').innerHTML = response;
                  }
              });
          }, 1000);
        });

        $(function() {
          $('a#left').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/click-left',
                function(data) {
              //do nothing
            });
            return false;
          });

          $('a#up').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/click-up',
                function(data) {
              //do nothing
            });
            return false;
          });

          $('a#click').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/click-run',
                function(data) {
              //do nothing
            });
            return false;
          });

          $('a#down').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/click-down',
                function(data) {
              //do nothing
            });
            return false;
          });

          $('a#right').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/click-right',
                function(data) {
              //do nothing
            });
            return false;
          });

          $('a#reboot').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/reboot',
                function(data) {
              //do nothing
            });
            return false;
          });

          var dn1 = document.getElementById("display1-no");
          var dy1 = document.getElementById("display1-yes");
          dn1.style.cssText = style_def;
          $('a#display1-no').on('click', function(e) {
              e.preventDefault()
              $.getJSON('/display1-no',
                  function(data) {
                //do nothing
              });
              dy1.style = style_yes;
              dn1.style.cssText = style_def;
              return false;
          });

          $('a#display1-yes').on('click', function(e) {
              e.preventDefault()
              $.getJSON('/display1-yes',
                  function(data) {
                //do nothing
              });
              dy1.style.cssText = style_def;
              dn1.style = style_no;
              return false;
          });

          var dn2 = document.getElementById("display2-no");
          var dy2 = document.getElementById("display2-yes");
          dn2.style.cssText = style_def;
          $('a#display2-no').on('click', function(e) {
              e.preventDefault()
              $.getJSON('/display2-no',
                  function(data) {
                //do nothing
              });
              dy2.style = style_yes;
              dn2.style.cssText = style_def;
              return false;
          });

          $('a#display2-yes').on('click', function(e) {
              e.preventDefault()
              $.getJSON('/display2-yes',
                  function(data) {
                //do nothing
              });
              dy2.style.cssText = style_def;
              dn2.style = style_no;
              return false;
          });

        });
    </script>
  </body>
</html>