{% extends 'base.html' %}

{% block content %}
  <!--<img src="{{ url_for('video_feed') }}" />
  -->
  <div class="container-column">
    <div class="up-panel">
      <h1>[*] Сервер</h1>
    </div>
    <div class="container-row">
      <div class="window-left" id="sidebar">
        <div>

          <div class="block">
            <div class="block-title"><pp>Информация: </pp></div>
            <div style="padding: 10px 10px;">
              {% for i in info %}
                <h3>{{ i }}</h3>
              {% endfor %}
            </div>
          </div>

          <div class="block">
            <div class="block-title"><pp>Настройки:</pp> </div>
            <div style="padding: 10px 10px;">

              <div class="p-sett">
                <div class="text-panel">
                  <h3 style="margin: 3px 0px;">перезагрузка</h3>
                </div>
                <a href=# id=reboot-yes class="button-yes">{% include 'yes.html' %}</a>
                <a href=# id=reboot-no class="button-no">{% include 'no.html' %}</a>
              </div>

              <div class="p-sett">
                <div class="text-panel">
                  <h3 style="margin: 3px 0px;">привет</h3>
                </div>
                <a class="button-yes">{% include 'yes.html' %}</a>
                <a class="button-no">{% include 'no.html' %}</a>
              </div>

            </div>
          </div>

        </div>
      </div>
      <div class="window-right">
        <img style="padding-left: 50px; padding-right: 50px; width: 100%" src="{{ url_for('video_feed') }}" />
      </div>
    </div>
    <div class="down-panel">

    </div>
  </div>
{% endblock %}