<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" href="/favicon.ico"/>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
        <meta name="theme-color" content="#cd412a"/>
        <title>RustMaps.com</title>
        <script>
            window.nitroAds = window.nitroAds || {
                createAd: function() {
                    window.nitroAds.queue.push(["createAd", arguments])
                },
                addUserToken: function() {
                    window.nitroAds.queue.push(["addUserToken", arguments])
                },
                queue: []
            };
        </script>
        <script async src="https://s.nitropay.com/ads-976.js"></script>
        <title>Map 3500 / 1764836658 - RustMaps.com</title>
        <meta name="description" content="Generated Rust Map (1764836658/3500). Map monuments: Ferry Terminal, Large Harbor, Small Harbor, Military Base B, Arctic Research Base A, Launch Site, Bandit Town, Outpost, Nuclear Missile Silo, Excavator, Junkyard, Military Tunnels, Airfield, Water Treatment, Sewer Branch, Sphere Tank, Satellite Dish, Large Oilrig, Small Oilrig. Find horse, bear, stone, sulfur and hemp spawn locations using our resource heatmaps!">
        <meta name="keywords" content="rust, playrust, rust maps, map generator, map gallery, map generation, rust map generator">
        <meta property="og:title" content="Seed: 1764836658 | Size: 3500">
        <meta property="og:url" content="undefined">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="RustMaps">
        <meta property="og:description" content="Small Harbor  ✅
Large Harbor  ✅
Airfield  ✅
Junkyard  ✅
Launch Site  ✅
Military Tunnels  ✅
Nuclear Missile Silo  ✅
Powerplant  ❌
Trainyard  ❌
Ferry Terminal  ✅
Water Treatment  ✅
Sphere Tank  ✅
Bandit Town  ✅
Sewer Branch  ✅
Satellite Dish  ✅
Outpost  ✅
Excavator  ✅
Large Oilrig  ✅
Small Oilrig  ✅
Arctic Research Base A  ✅
Military Base  ✅">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="https://content.rustmaps.com/maps/240/890dd37202e74c8aa3d7e6101fcd87fe/map_raw_normalized.png">
        <title>Rust Map Gallery &Generator | RustMaps.com</title>
        <meta property="og:title" content="Rust Map Gallery & Generator | RustMaps.com">
        <meta name="description" content="Rust map search and generator to find the perfect map for your server and view animal, node and resource heatmaps.">
        <meta property="og:description" content="Rust map search and generator to find the perfect map for your server and view animal, node and resource heatmaps.">
        <meta property="og:image" content="https://content.rustmaps.com/assets/Icon_Primary.png">
        <meta property="og:image:secure_url" content="https://content.rustmaps.com/assets/Icon_Primary.png">
        <meta name="url" content="https://rustmaps.com/">
        <meta property="og:url" content="https://rustmaps.com/">
        <script type="module" crossorigin src="/assets/index-b5e3ad7d.js"></script>
        <link rel="stylesheet" href="/assets/index-c0ef260b.css">
    </head>
    <body>
        <div id="app"></div>
        <script>
            window.pageData = {
                "meta": {
                    "status": "Success",
                    "statusCode": 200
                },
                "data": {
                    "id": "890dd37202e74c8aa3d7e6101fcd87fe",
                    "type": "Procedural",
                    "seed": 1764836658,
                    "size": 3500,
                    "imageUrl": "https://content.rustmaps.com/maps/240/890dd37202e74c8aa3d7e6101fcd87fe/map_raw_normalized.png",
                    "tileBaseUrl": "https://content.rustmaps.com/maps/240/890dd37202e74c8aa3d7e6101fcd87fe/tiles/",
                    "imageIconUrl": "https://content.rustmaps.com/maps/240/890dd37202e74c8aa3d7e6101fcd87fe/map_icons.png",
                    "thumbnailUrl": "https://content.rustmaps.com/maps/240/890dd37202e74c8aa3d7e6101fcd87fe/thumbnail.png",
                    "undergroundOverlayUrl": "https://content.rustmaps.com/maps/240/890dd37202e74c8aa3d7e6101fcd87fe/tunnel/tiles/",
                    "isStaging": false,
                    "isCustomMap": false,
                    "isForSale": false,
                    "hasCustomMonuments": false,
                    "canDownload": false,
                    "downloadUrl": null,
                    "slug": null,
                    "displayName": null,
                    "purchaseUrl": null,
                    "monuments": [{
                        "type": "Ferry Terminal",
                        "sizeCategory": "LargeMonument",
                        "coordinates": {
                            "x": -1290,
                            "y": -875
                        },
                        "iconPath": "Ferry_Terminal_1"
                    }, {
                        "type": "Large Harbor",
                        "sizeCategory": "LargeMonument",
                        "coordinates": {
                            "x": 189,
                            "y": -1379
                        },
                        "iconPath": "Harbor"
                    }, {
                        "type": "Small Harbor",
                        "sizeCategory": "LargeMonument",
                        "coordinates": {
                            "x": -1261,
                            "y": 688
                        },
                        "iconPath": "Harbor"
                    }, {
                        "type": "Fishing Village A",
                        "sizeCategory": "SmallMonument",
                        "coordinates": {
                            "x": 1287,
                            "y": -612
                        },
                        "iconPath": "Fishing_Village"
                    }, {
                        "type": "Fishing Village C",
                        "sizeCategory": "SmallMonument",
                        "coordinates": {
                            "x": -163,
                            "y": 1494
                        },
                        "iconPath": "Fishing_Village"
                    }, {
                        "type": "Fishing Village B",
                        "sizeCategory": "SmallMonument",
                        "coordinates": {
                            "x": -1018,
                            "y": -1332
                        },
                        "iconPath": "Fishing_Village"
                    }, {
                        "type": "Military Base B",
                        "sizeCategory": "LargeMonument",
                        "coordinates": {
                            "x": 981,
                            "y": 224
                        },
                        "iconPath": "Military_Base"
                    }, {
                        "type": "Arctic Research Base A",
                        "sizeCategory": "LargeMonument",
                        "coordinates": {
                            "x": -210,
                            "y": -1147
                        },
                        "iconPath": "Arctic_Research_Base"
                    }, {
                        "type": "Launch Site",
                        "sizeCategory": "LargeMonument",
                        "coordinates": {
                            "x": 421,
                            "y": -468
                        },
                        "iconPath": "Launch_Site"
                    }, {
                        "type": "Bandit Town",
                        "sizeCategory": "LargeMonument",
                        "coordinates": {
                            "x": -397,
                            "y": 135
                        },
                        "iconPath": "Bandit_Town"
                    }, {
                        "type": "Outpost",
                        "sizeCategory": "LargeMonument",
                        "coordinates": {
                            "x": 288,
                            "y": 805
                        },
                        "iconPath": "Outpost"
                    }, {
                        "type": "Nuclear Missile Silo",
                        "sizeCategory": "LargeMonument",
                        "coordinates": {
                            "x": 823,
                            "y": -812
                        },
                        "iconPath": "Nuclear_Missile_Silo"
                    }, {
                        "type": "Excavator",
                        "sizeCategory": "LargeMonument",
                        "coordinates": {
                            "x": 868,
                            "y": 796
                        },
                        "iconPath": "Excavator"
                    }, {
                        "type": "Junkyard",
                        "sizeCategory": "LargeMonument",
                        "coordinates": {
                            "x": -1011,
                            "y": 1218
                        },
                        "iconPath": "Junkyard"
                    }, {
                        "type": "Ranch",
                        "sizeCategory": "SmallMonument",
                        "coordinates": {
                            "x": -1029,
                            "y": -267
                        },
                        "iconPath": "Horse_Stable"
                    }, {
                        "type": "Military Tunnels",
                        "sizeCategory": "LargeMonument",
                        "coordinates": {
                            "x": 411,
                            "y": 122
                        },
                        "iconPath": "Military_Tunnels"
                    }, {
                        "type": "Airfield",
                        "sizeCategory": "LargeMonument",
                        "coordinates": {
                            "x": -635,
                            "y": 775
                        },
                        "iconPath": "Airfield"
                    }, {
                        "type": "Water Treatment",
                        "sizeCategory": "LargeMonument",
                        "coordinates": {
                            "x": -641,
                            "y": -826
                        },
                        "iconPath": "Water_Treatment"
                    }, {
                        "type": "Sewer Branch",
                        "sizeCategory": "LargeMonument",
                        "coordinates": {
                            "x": -149,
                            "y": -709
                        },
                        "iconPath": "Sewer_Branch"
                    }, {
                        "type": "Hqm Quarry",
                        "sizeCategory": "SmallMonument",
                        "coordinates": {
                            "x": 1162,
                            "y": 1229
                        },
                        "iconPath": "Hqm_Quarry"
                    }, {
                        "type": "Sphere Tank",
                        "sizeCategory": "LargeMonument",
                        "coordinates": {
                            "x": -134,
                            "y": 1035
                        },
                        "iconPath": "Sphere_Tank"
                    }, {
                        "type": "Sulfur Quarry",
                        "sizeCategory": "SmallMonument",
                        "coordinates": {
                            "x": 1215,
                            "y": -1127
                        },
                        "iconPath": "Sulfur_Quarry"
                    }, {
                        "type": "Stone Quarry",
                        "sizeCategory": "SmallMonument",
                        "coordinates": {
                            "x": 1386,
                            "y": 10
                        },
                        "iconPath": "Stone_Quarry"
                    }, {
                        "type": "Satellite Dish",
                        "sizeCategory": "LargeMonument",
                        "coordinates": {
                            "x": 20,
                            "y": -268
                        },
                        "iconPath": "Satellite_Dish"
                    }, {
                        "type": "Water Well E",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -762,
                            "y": 321
                        },
                        "iconPath": "Water_Well"
                    }, {
                        "type": "Water Well C",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -1109,
                            "y": -247
                        },
                        "iconPath": "Water_Well"
                    }, {
                        "type": "Water Well A",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -308,
                            "y": -206
                        },
                        "iconPath": "Water_Well"
                    }, {
                        "type": "Swamp A",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -929,
                            "y": -658
                        },
                        "iconPath": "Swamp"
                    }, {
                        "type": "Swamp C",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -944,
                            "y": 1016
                        },
                        "iconPath": "Swamp"
                    }, {
                        "type": "Swamp B",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 1191,
                            "y": -893
                        },
                        "iconPath": "Swamp"
                    }, {
                        "type": "Ice Lake 1",
                        "sizeCategory": "NotImplemented",
                        "coordinates": {
                            "x": -559,
                            "y": -169
                        },
                        "iconPath": "Ice_Lake_1"
                    }, {
                        "type": "Ice Lake 4",
                        "sizeCategory": "NotImplemented",
                        "coordinates": {
                            "x": 421,
                            "y": -1315
                        },
                        "iconPath": "Ice_Lake_4"
                    }, {
                        "type": "Ice Lake 4",
                        "sizeCategory": "NotImplemented",
                        "coordinates": {
                            "x": -280,
                            "y": -1392
                        },
                        "iconPath": "Ice_Lake_4"
                    }, {
                        "type": "Ice Lake 4",
                        "sizeCategory": "NotImplemented",
                        "coordinates": {
                            "x": -335,
                            "y": -755
                        },
                        "iconPath": "Ice_Lake_4"
                    }, {
                        "type": "Tunnel Entrance",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -147,
                            "y": 1425
                        },
                        "iconPath": "Tunnel_Entrance"
                    }, {
                        "type": "Warehouse",
                        "sizeCategory": "SmallMonument",
                        "coordinates": {
                            "x": -956,
                            "y": 581
                        },
                        "iconPath": "Warehouse"
                    }, {
                        "type": "Warehouse",
                        "sizeCategory": "SmallMonument",
                        "coordinates": {
                            "x": 645,
                            "y": 552
                        },
                        "iconPath": "Warehouse"
                    }, {
                        "type": "Supermarket",
                        "sizeCategory": "SmallMonument",
                        "coordinates": {
                            "x": 97,
                            "y": 1296
                        },
                        "iconPath": "Supermarket"
                    }, {
                        "type": "Supermarket",
                        "sizeCategory": "SmallMonument",
                        "coordinates": {
                            "x": 353,
                            "y": -814
                        },
                        "iconPath": "Supermarket"
                    }, {
                        "type": "Power Substation Small 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -463,
                            "y": -972
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Small 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -1163,
                            "y": -850
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Small 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 416,
                            "y": -802
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Small 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 516,
                            "y": -183
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Small 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 272,
                            "y": 180
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Small 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 160,
                            "y": -260
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Small 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 440,
                            "y": 265
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Small 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 721,
                            "y": 749
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Small 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 398,
                            "y": 754
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Small 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 257,
                            "y": -765
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Small 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -191,
                            "y": -593
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Small 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -638,
                            "y": 917
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Small 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -1156,
                            "y": 553
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Small 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 198,
                            "y": 921
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Small 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -628,
                            "y": 526
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Small 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -589,
                            "y": -682
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -972,
                            "y": -1273
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -1160,
                            "y": -814
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -837,
                            "y": -1220
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -657,
                            "y": -1085
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -1002,
                            "y": -837
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -41,
                            "y": -649
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -153,
                            "y": -529
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -26,
                            "y": -146
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 26,
                            "y": -161
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 221,
                            "y": 33
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 552,
                            "y": -552
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 867,
                            "y": -634
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 1197,
                            "y": -567
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 206,
                            "y": 78
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 424,
                            "y": 829
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 424,
                            "y": 875
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -116,
                            "y": 1408
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 33,
                            "y": 1325
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -424,
                            "y": 814
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -416,
                            "y": 867
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -1092,
                            "y": 649
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -777,
                            "y": 890
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -41,
                            "y": -694
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Power Substation Big 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 153,
                            "y": -1288
                        },
                        "iconPath": "Transformer"
                    }, {
                        "type": "Powerline A",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -878,
                            "y": -1036
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline A",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -983,
                            "y": -916
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline B",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -725,
                            "y": -1288
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline A",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -812,
                            "y": -704
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline A",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -536,
                            "y": -566
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline B",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -140,
                            "y": -227
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline A",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 500,
                            "y": -124
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline A",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 553,
                            "y": -185
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline B",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 619,
                            "y": -321
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline A",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 841,
                            "y": -608
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline A",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 926,
                            "y": -499
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline A",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 1000,
                            "y": -516
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline A",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 225,
                            "y": 304
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline B",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 307,
                            "y": 337
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline A",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 356,
                            "y": 567
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline B",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 438,
                            "y": 980
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline C",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 432,
                            "y": 1055
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline A",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 370,
                            "y": 1274
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline A",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 219,
                            "y": 1340
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline A",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -72,
                            "y": 1197
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline A",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -244,
                            "y": 1017
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline B",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -808,
                            "y": 866
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline A",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -1005,
                            "y": 709
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline B",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -816,
                            "y": 1040
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline D",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -122,
                            "y": -1146
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Powerline C",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 21,
                            "y": -1321
                        },
                        "iconPath": "Powerline"
                    }, {
                        "type": "Cave Large Medium",
                        "sizeCategory": "Cave",
                        "coordinates": {
                            "x": 631,
                            "y": -909
                        },
                        "iconPath": "Cave"
                    }, {
                        "type": "Cave Large Sewers Hard",
                        "sizeCategory": "Cave",
                        "coordinates": {
                            "x": -20,
                            "y": 224
                        },
                        "iconPath": "Cave"
                    }, {
                        "type": "Cave Small Medium",
                        "sizeCategory": "Cave",
                        "coordinates": {
                            "x": 1274,
                            "y": 501
                        },
                        "iconPath": "Cave"
                    }, {
                        "type": "Cave Small Easy",
                        "sizeCategory": "Cave",
                        "coordinates": {
                            "x": -1193,
                            "y": -332
                        },
                        "iconPath": "Cave"
                    }, {
                        "type": "Cave Small Hard",
                        "sizeCategory": "Cave",
                        "coordinates": {
                            "x": 583,
                            "y": 1282
                        },
                        "iconPath": "Cave"
                    }, {
                        "type": "Cave Small Easy",
                        "sizeCategory": "Cave",
                        "coordinates": {
                            "x": -1055,
                            "y": 796
                        },
                        "iconPath": "Cave"
                    }, {
                        "type": "Underwater Lab B",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -321,
                            "y": -1687
                        },
                        "iconPath": "Underwater_Lab"
                    }, {
                        "type": "Large Oilrig",
                        "sizeCategory": "LargeMonument",
                        "coordinates": {
                            "x": 2065,
                            "y": 281
                        },
                        "iconPath": "Oilrig_Large"
                    }, {
                        "type": "Small Oilrig",
                        "sizeCategory": "LargeMonument",
                        "coordinates": {
                            "x": -657,
                            "y": 2098
                        },
                        "iconPath": "Oilrig_Small"
                    }, {
                        "type": "Lighthouse",
                        "sizeCategory": "SmallMonument",
                        "coordinates": {
                            "x": -1433,
                            "y": 1090
                        },
                        "iconPath": "Lighthouse"
                    }, {
                        "type": "Lighthouse",
                        "sizeCategory": "SmallMonument",
                        "coordinates": {
                            "x": -1284,
                            "y": -1109
                        },
                        "iconPath": "Lighthouse"
                    }, {
                        "type": "Iceberg 1",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -42,
                            "y": -1531
                        },
                        "iconPath": "Iceberg"
                    }, {
                        "type": "Iceberg 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 357,
                            "y": -1578
                        },
                        "iconPath": "Iceberg"
                    }, {
                        "type": "Iceberg 2",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 762,
                            "y": -1546
                        },
                        "iconPath": "Iceberg"
                    }, {
                        "type": "Iceberg 5",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -601,
                            "y": -1559
                        },
                        "iconPath": "Iceberg"
                    }, {
                        "type": "Iceberg 5",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 527,
                            "y": -1543
                        },
                        "iconPath": "Iceberg"
                    }, {
                        "type": "Tunnel Entrance",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -1278,
                            "y": -891
                        },
                        "iconPath": "Tunnel_Entrance"
                    }, {
                        "type": "Tunnel Entrance",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 102,
                            "y": -1332
                        },
                        "iconPath": "Tunnel_Entrance"
                    }, {
                        "type": "Tunnel Entrance",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -1272,
                            "y": 774
                        },
                        "iconPath": "Tunnel_Entrance"
                    }, {
                        "type": "Tunnel Entrance",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 431,
                            "y": -672
                        },
                        "iconPath": "Tunnel_Entrance"
                    }, {
                        "type": "Tunnel Entrance",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 189,
                            "y": 782
                        },
                        "iconPath": "Tunnel_Entrance"
                    }, {
                        "type": "Tunnel Entrance",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 786,
                            "y": 744
                        },
                        "iconPath": "Tunnel_Entrance"
                    }, {
                        "type": "Tunnel Entrance",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": 366,
                            "y": 201
                        },
                        "iconPath": "Tunnel_Entrance"
                    }, {
                        "type": "Tunnel Entrance",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -647,
                            "y": 594
                        },
                        "iconPath": "Tunnel_Entrance"
                    }, {
                        "type": "Tunnel Entrance",
                        "sizeCategory": "TinyMonument",
                        "coordinates": {
                            "x": -516,
                            "y": -885
                        },
                        "iconPath": "Tunnel_Entrance"
                    }],
                    "landPercentageOfMap": 53,
                    "biomePercentages": {
                        "s": 14.870411790192705,
                        "d": 30.879437662064156,
                        "f": 38.85828187859245,
                        "t": 15.391868669150686
                    },
                    "islands": 1,
                    "totalMonuments": 130,
                    "largeMonuments": 19,
                    "smallMonuments": 13,
                    "tinyMonuments": 85,
                    "safezones": 6,
                    "caves": 6,
                    "rivers": 4,
                    "mountains": 0,
                    "icebergs": 5,
                    "iceLakes": 4,
                    "heatMaps": [{
                        "name": "Bears",
                        "url": "https://content.rustmaps.com/maps/240/890dd37202e74c8aa3d7e6101fcd87fe/bears/tiles/"
                    }, {
                        "name": "Boars",
                        "url": "https://content.rustmaps.com/maps/240/890dd37202e74c8aa3d7e6101fcd87fe/boars/tiles/"
                    }, {
                        "name": "Horses",
                        "url": "https://content.rustmaps.com/maps/240/890dd37202e74c8aa3d7e6101fcd87fe/horses/tiles/"
                    }, {
                        "name": "Hemp",
                        "url": "https://content.rustmaps.com/maps/240/890dd37202e74c8aa3d7e6101fcd87fe/hemp/tiles/"
                    }, {
                        "name": "Nodes",
                        "url": "https://content.rustmaps.com/maps/240/890dd37202e74c8aa3d7e6101fcd87fe/nodes/tiles/"
                    }, {
                        "name": "PlayerSpawns",
                        "url": "https://content.rustmaps.com/maps/240/890dd37202e74c8aa3d7e6101fcd87fe/playerspawns/tiles/"
                    }, {
                        "name": "Berries",
                        "url": "https://content.rustmaps.com/maps/240/890dd37202e74c8aa3d7e6101fcd87fe/berries/tiles/"
                    }]
                }
            };
        </script>
        <!-- Cloudflare Pages Analytics -->
        <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "94642bfe3f1f4c8dbcd38dd35f497dc8"}'></script>
        <!-- Cloudflare Pages Analytics -->
        <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v8b253dfea2ab4077af8c6f58422dfbfd1689876627854" integrity="sha512-bjgnUKX4azu3dLTVtie9u6TKqgx29RBwfj3QXYt5EKfWM/9hPSAI/4qcV5NACjwAo8UtTeWefx6Zq5PHcMm7Tg==" data-cf-beacon='{"rayId":"817112f91b7f9d75","token":"7c76d112f97849458054b9d9dd7d6960","version":"2023.8.0","si":100}' crossorigin="anonymous"></script>
    </body>
</html>
